.flag-*
secret.yml
vault.yml
*.retry
*.pyc
*~
Docker/Dockerfile
playbooks/inventory/demo.satellite
bootstrap/aws
bootstrap/Dockerfile
bootstrap/files/etc/motd
manifest.zip
foreman.cache
foreman.facts
foreman.hostcollections
foreman.index
