{% for llabel, litem in subscription_mirror.items() %}
[{{ llabel }}]
name = local repo for {{ llabel }}
priority = 5
baseurl = {{ litem.baseurl }}
{% if litem.sslverify is defined %}
sslverify = {{ litem.sslverify }}
{% endif %}
{% if litem.enabled is defined %}
enabled = {{ litem.enabled }}
{% endif %}
metadata_expire = 7d
{% if litem.gpgcheck is defined %}
gpgcheck = {{ litem.gpgcheck }}
{% endif %}
{% if litem.gpgkey is defined %}
gpgkey = {{ litem.gpgkey }}
{% endif %}
skip_if_unavailable = True

{% endfor %}
