global
    log         127.0.0.1 local2
    chroot      /tmp
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        daemon
    group       daemon
    daemon
defaults
    log                     global
    option http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          30m
    timeout server          30m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend  https
    bind *:443
    mode tcp
    default_backend		sat_https

frontend  http
    bind *:80
    mode http
    option httplog
    option forwardfor       except 127.0.0.0/8

{% for host in groups['clients'] %}
####
#### Redirect Rule for Host {{host}} ####
####
    acl p_{{host}}	path_beg -i /{{host}}
    acl h_{{host}}	hdr(x-original-path) {{host}}
    http-request set-header X-Original-Path "{{host}}" if p_{{host}}
    http-request set-path /%[path,regsub(/client1,,)] if p_{{host}}
    use_backend {{host}}_http         if p_{{host}}
    use_backend {{host}}_http         if h_{{host}}

{% endfor %}
    default_backend		sat_http

backend sat_https
    balance     roundrobin
    mode	tcp
    server      https_sat {{satellite_server_ip}}:443 observe layer4

backend sat_http
    mode http
    balance     roundrobin
    server      http_sat {{satellite_server_ip}}:80 check

{% for host in groups['clients'] %}
backend {{host}}_http
    mode http
    balance     roundrobin
    server      {{host}} {{hostvars[host].ansible_host}}:80 check
{% endfor %}
