127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in groups['demo-vms'] %}
{% set ip = hostvars[host].ip | default('eth0:eth0:127.0.0.1') %}
{% set ip = (ip.split(',') | first).split(':') | last | ipaddr('address') %}
{% set domain_name = hostvars[host].domain_name | default('localdomain') %}
{% set hostname = hostvars[host].hostname | default([ host, domain_name ] | join('.') ) %}
{{ ip }} 		{{ hostname }}
{% endfor %}
