127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in groups['demo-vms'] %}
{{ hostvars[host].ansible_host }}	{{ hostvars[host].hostname }}
{% endfor %}

{% if docker_mirror_host|default(False) %}
docker_mirror_ip	{{ docker_mirror_host.split(':')[0] }}
{% endif %}
